#myMap {
    width: 100%;
    height: 600px;
    border: solid 0.5px gray;
}

#total {
    color: #860114;
    text-align: center;
    font-size: 18px;
    font-family: Calibri;
    padding-bottom: 15px;
    font-weight: bolder;
}

#legend{
    padding-top: 10px;
    color: #860114;
    font-size: 18px;
    font-family: Calibri;
    font-weight: bolder;
}

.legendText{
    padding-right:25px;
}

