.vertical-offset-100 {
	padding-top: 13%;
	height: auto;
	width: 300px;
}

.alert-error{
	color: #F32F2F;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.panel-title {
	text-align: left;
	font-size: 25px;
	margin-top: 0;
}